#my-form {
    display: grid;
    justify-items: center;
    align-items: center;

    .l {
        list-style: none;

        .l-i {
            margin: 20px 0px;
        }
    }
}

select {
    width: 250px;
    padding: 10px;
    border: 1px solid #000;
}


.btn button[type="submit"] {
    padding: 10px 40px;
    border: none;
    background: var(--red);
    color: var(--bg);
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--red);
}